<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>real-dispatch</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@next"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vuex@4.0.0/dist/vuex.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.15/dist/vuetify.min.js"></script> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.15/dist/vuetify.min.css"> 
    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js" integrity="sha256-xH4q8N0pEzrZMaRmd7gQVcTZiFei+HfRTBPJ1OGXC0k=" crossorigin="anonymous"></script>
    <!-- Include Leaflet and MarkerClusterGroup from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>

</head>
<body>
    <div id="app">
        <div class="w-full h-[100vh] left-0 top-0 absolute">
            <div v-if="Show" class="w-full h-full flex flex-col left-0 top-0 absolute" style="background-image: url('./img/background.png'); background-size: 100% 100%;">
                <div class="w-full h-[10%] top-0 left-0 absolute"></div>
                <div class="w-full h-[4%] flex flex-wrap top-[10%] left-0 absolute">
                    <div class="w-[50%] h-full flex items-center justify-center">
                        <span class="header-text">LSPD DISPATCH SYSTEM</span>
                    </div>
                    <div class="w-[50%] h-full flex items-center justify-end">
                        <div class="w-[40%] h-[80%] flex items-center justify-center bg-[#181A21] border-[#333334] border-[.1vw] hover:cursor-pointer">
                            <span class="connect-to-dashcam-text">Connect</span>
                        </div>
                        <div class="w-[4.5%] h-[80%] flex items-center justify-center bg-[#141416] mr-[3vw] ml-[6vw] border-[#333334] border-[.1vw] hover:cursor-pointer" @click="CloseUI()">
                            <img src="./img/x.png" style="width: .5751vw; height: .5751vw;">
                        </div>
                    </div>
                </div>
                <div class="w-full h-[10%] top-[14%] left-0 absolute"></div>
                <div class="w-full h-[55%] flex flex-wrap left-0 top-[24%] absolute">
                    <div class="w-[10.1%] h-full left-0 top-0 absolute"></div>
                    <div class="w-[54.9%] h-full flex items-center justify-center top-0 left-[10.1%] absolute">
                        <div class="map-item" id="map-item"></div>
                    </div>
                    <div class="w-[3.8%] h-full left-[65%] top-0 absolute"></div>
                    <div class="w-[20%] h-full block right-[11.15%] top-0 overflow-y-auto overflow-x-hidden absolute">
                        <div class="w-full h-[8%] flex flex-col bg-[#16181D] mb-[.8vw]" v-for="(v, k) in Dispatches" @click="SelectedDispatch = k" :style="{ height: SelectedDispatch == k ? '23%' : '8%' }" :class="{ 'border-t-[#FFF]': v.claimed, 'border-t-[.2vw]': v.claimed, 'border-[#2D2F34]': !v.claimed, 'border-[.1vw]': !v.claimed, 'hover:cursor-pointer': SelectedDispatch != k }">
                            <div class="w-full flex items-center justify-start" :class="{'h-[33.3333333%]': SelectedDispatch == k, 'h-full': SelectedDispatch != k}">
                                <span class="crime-text" style="margin-left: 1vw;">22-30</span>
                                <span class="crime-text" style="margin-left: 1vw;">{{ v.crime }}</span>
                                <span class="crime-status-text" v-if="SelectedDispatch != k">New</span>
                            </div>
                            <div class="w-full h-[66.6666667%] flex flex-wrap" v-if="SelectedDispatch == k">
                                <div class="w-[33.3333333%] h-full flex flex-col">
                                    <div class="w-[80%] h-[30%] flex items-center justify-start ml-[1.1vw]">
                                        <img src="./img/location.png" class="mr-[.2vw]">
                                        <span style="color: #FFF; font-family: regular; font-size: .7292vw; font-style: normal; font-weight: 500; line-height: normal; margin-right: .3vw;">-</span>
                                        <span class="crime-info-text">{{ v.info.location }}</span>
                                    </div>
                                    <div class="w-[90%] h-[30%] flex items-center justify-start ml-[1.1vw]">
                                        <img src="./img/gender.png" class="mr-[.2vw]">
                                        <span style="color: #FFF; font-family: regular; font-size: .7292vw; font-style: normal; font-weight: 500; line-height: normal; margin-right: .3vw;">-</span>
                                        <span class="crime-info-text">{{ v.info.gender }}</span>
                                    </div>
                                    <div class="w-[90%] h-[30%] flex items-center justify-start ml-[1.1vw]">
                                        <img src="./img/pistol.png" class="mr-[.2vw]">
                                        <span style="color: #FFF; font-family: regular; font-size: .7292vw; font-style: normal; font-weight: 500; line-height: normal; margin-right: .3vw;">-</span>
                                        <span class="crime-info-text">{{ v.info.weapon }}</span>
                                    </div>
                                </div>
                                <div class="w-[33.3333333%] h-full flex flex-col ml-[.5vw]">
                                    <div class="w-[80%] h-[30%] flex items-center justify-start ml-[1.1vw]">
                                        <img src="./img/car.png" class="mr-[.2vw]">
                                        <span style="color: #FFF; font-family: regular; font-size: .7292vw; font-style: normal; font-weight: 500; line-height: normal; margin-right: .3vw;">-</span>
                                        <span class="crime-info-text">{{ v.info.vehiclestatus }}</span>
                                    </div>
                                    <div class="w-[90%] h-[30%] flex items-center justify-start ml-[1.1vw]">
                                        <img src="./img/plate.png" class="mr-[.2vw]">
                                        <span style="color: #FFF; font-family: regular; font-size: .7292vw; font-style: normal; font-weight: 500; line-height: normal; margin-right: .3vw;">-</span>
                                        <span class="crime-info-text">{{ v.info.plate }}</span>
                                    </div>
                                    <div class="w-[90%] h-[30%] flex items-center justify-start ml-[1.1vw]">
                                        <img src="./img/color.png" class="mr-[.2vw]">
                                        <span style="color: #FFF; font-family: regular; font-size: .7292vw; font-style: normal; font-weight: 500; line-height: normal; margin-right: .3vw;">-</span>
                                        <span class="crime-info-text">{{ v.info.vehiclecolor }}</span>
                                    </div>
                                </div>
                                <div class="w-[30%] h-full flex flex-col items-center justify-center">
                                    <span class="time-text ml-[1.3vw]">{{ v.time }}</span>
                                    <div class="w-[70%] h-[35%] flex items-center justify-center bg-[#202124] border-[.1vw] border-[#3D3E40] my-[.7vw] hover:cursor-pointer" @click="SendDispatchToTargetPlayer(k, v.player, v.crime, v.time, v.info, v.claimed, v.expireTime)"> <span class="select-text" v-if="SelectedD != k">Select</span> <span class="select-text" v-if="SelectedD == k">Selected</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-[11.2%] h-full right-0 top-0 absolute"></div>
                </div>
            </div>
            <div class="w-[25%] h-[85%] block overflow-x-hidden overflow-y-auto top-[3vw] right-[2vw] absolute scale-[.9]" v-if="SendedDispatchStatus">
                <div class="w-full h-[18%] flex flex-col bg-[#16181D] mb-[.8vw] right-[0] dispatch-animation">
                    <div class="w-full h-[33.3333333%] flex items-center justify-start">
                        <span class="crime-text" style="margin-left: 1vw;">22-30</span>
                        <span class="crime-text" style="margin-left: 1vw;">Shooting!</span>
                        <span class="crime-text" style="margin-left: 7vw;">Sent from station!</span>
                    </div>
                    <div class="w-full h-[66.6666667%] flex flex-wrap">
                        <div class="w-[33.3333333%] h-full flex flex-col">
                            <div class="w-[80%] h-[30%] flex items-center justify-start ml-[1.1vw]">
                                <img src="./img/location.png" class="mr-[.2vw]">
                                <span style="color: #FFF; font-family: regular; font-size: .7292vw; font-style: normal; font-weight: 500; line-height: normal; margin-right: .3vw;">-</span>
                                <span class="crime-info-text">LS Beach</span>
                            </div>
                            <div class="w-[90%] h-[30%] flex items-center justify-start ml-[1.1vw]">
                                <img src="./img/gender.png" class="mr-[.2vw]">
                                <span style="color: #FFF; font-family: regular; font-size: .7292vw; font-style: normal; font-weight: 500; line-height: normal; margin-right: .3vw;">-</span>
                                <span class="crime-info-text">Male</span>
                            </div>
                            <div class="w-[90%] h-[30%] flex items-center justify-start ml-[1.1vw]">
                                <img src="./img/pistol.png" class="mr-[.2vw]">
                                <span style="color: #FFF; font-family: regular; font-size: .7292vw; font-style: normal; font-weight: 500; line-height: normal; margin-right: .3vw;">-</span>
                                <span class="crime-info-text">Pistol</span>
                            </div>
                        </div>
                        <div class="w-[33.3333333%] h-full flex flex-col ml-[.5vw]">
                            <div class="w-[80%] h-[30%] flex items-center justify-start ml-[1.1vw]">
                                <img src="./img/car.png" class="mr-[.2vw]">
                                <span style="color: #FFF; font-family: regular; font-size: .7292vw; font-style: normal; font-weight: 500; line-height: normal; margin-right: .3vw;">-</span>
                                <span class="crime-info-text">SULTAN</span>
                            </div>
                            <div class="w-[90%] h-[30%] flex items-center justify-start ml-[1.1vw]">
                                <img src="./img/plate.png" class="mr-[.2vw]">
                                <span style="color: #FFF; font-family: regular; font-size: .7292vw; font-style: normal; font-weight: 500; line-height: normal; margin-right: .3vw;">-</span>
                                <span class="crime-info-text">ABC1234</span>
                            </div>
                            <div class="w-[90%] h-[30%] flex items-center justify-start ml-[1.1vw]">
                                <img src="./img/color.png" class="mr-[.2vw]">
                                <span style="color: #FFF; font-family: regular; font-size: .7292vw; font-style: normal; font-weight: 500; line-height: normal; margin-right: .3vw;">-</span>
                                <span class="crime-info-text">Pink</span>
                            </div>
                        </div>
                        <div class="w-[30%] h-full flex flex-col items-center justify-center">
                            <span class="time-text ml-[1.3vw]">01:00</span>
                            <div class="w-[70%] h-[35%] flex items-center justify-center bg-[#202124] border-[.1vw] border-[#3D3E40] hover:cursor-pointer my-[.7vw]"> <span class="select-text">Y Set GPS</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>