@font-face {
  font-family: regular;
  src: url('./fonts/Gilroy-ExtraBold.otf');
}

@font-face {
  font-family: regularlight;
  src: url('./fonts/Gilroy-Light.otf');
}

/* *{
  overflow: hidden;
} */

html {
  user-select: none;  
}
  
body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0vw;
  background: transparent;
}

.header-text {
  color: #FFF;
  font-family: regular;
  font-size: 2.7083vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.connect-to-dashcam-text {
  color: #C5C6C7;
  text-align: center;
  font-family: regularlight;
  font-size: .8333vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.crime-text {
  color: #C6C6C8;
  font-family: regularlight;
  font-size: .9375vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.crime-status-text {
  color: #FFF;
  text-align: right;
  font-family: regularlight;
  font-size: 1.0417vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  right: 1vw;
  position: absolute;
}

.crime-info-text {
  color: #FFF;
  font-family: regularlight;
  font-size: .7292vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.time-text {
  color: #C6C6C8;
  text-align: right;
  font-family: regularlight;
  font-size: .7292vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.select-text {
  color: #C7C7C8;
  font-family: regularlight;
  font-size: .7292vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.map-item {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.leaflet-marker-pane {
z-index: 600;
}

.leaflet-tooltip-pane {
z-index: 650;
}

.leaflet-tooltip-right {
margin-left: 6px;
}

.dispatch-animation {
  animation: fadein 1.5s ease-in-out forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.normal-dispatch {
  animation: acilisAnimasyonu 1.2s ease-in-out;
}

@keyframes acilisAnimasyonu {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0);
  }
}

.kapanis-dispatch {
  animation: kapanisAnimasyonu 1.2s ease-in-out;
}

@keyframes kapanisAnimasyonu {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}